<header
  class="bg-white sticky top-0 z-50 border-b border-green-100 px-6 py-3 flex flex-wrap items-center justify-between gap-3 shadow-sm">
  <a routerLink="/" class="flex items-center gap-2 border-green-100">
    <div class="w-8 h-8 rounded-full bg-green-500 flex items-center justify-center text-white shadow-sm">
      <i class="pi pi-check text-sm font-bold"></i>
    </div>
    <p class="text-[22px] font-bold text-gray-900 tracking-tight">Edulearning</p>
  </a>
  <!-- el buscador tiene que estart en el medio-->
  <div
    class="flex-1 max-w-lg min-w-[200px] bg-verde-fondo rounded-full px-4 py-2 flex items-center border-2 border-transparent focus-within: bg-green-100 focus-within:border-green-200 transition border-2 border-green-100">
    <i class="pi pi-search text-green-600"></i>
    <input type="text" [(ngModel)]="value" (input)="onInput()" (focus)="isFocused = true" (blur)="isFocused = false"
      class="flex-1 bg-transparent outline-none px-3 py-1 text-sm rounded-full focus:cursor-pointer"
      placeholder="Buscar cursos...">
  </div>
  <!-- el menu que tiene 2 opciones-->
  <nav class="flex items-center gap-8">
    <a routerLink="/" (click)="goToHome()"
      class="flex items-center gap-1.5 text-gray-700 hover:bg-green-100 hover:text-green-600 font-medium rounded-full px-2 py-1">
      <i class="pi pi-home"></i>Inicio</a>
    <a href="#"
      class="flex items-center gap-1.5 text-gray-700 hover:bg-green-100 hover:text-green-600 font-medium rounded-full px-2 py-1">
      <i class="pi pi-users"></i>Maestros</a>

  </nav>
</header>
