<p-toast position="top-right" [pt]="{detail: {class: 'text-black!'}}"
    [breakpoints]="{'576px': {width: '100%', right: '0', left: '0'}}" />
<div class="w-full max-w-xl px-6 sm:px-10 py-10">

    <!-- Navbar -->
    <div class="flex justify-center md:justify-end gap-6 sm:gap-8 text-sm mb-10 text-gray-700">
        <a routerLink="/" class="hover:text-green-500 transition">
            Inicio
        </a>

    </div>

    <!-- Title -->
    <h1 class="text-4xl sm:text-5xl font-bold text-gray-800 mb-8 text-center md:text-left">
        Iniciar Sesión
    </h1>

    <!-- Tabs -->
    <div class="flex gap-10 border-b border-gray-300 mb-8">
        <button class="pb-3 border-b-2 border-green-500 font-semibold text-gray-800">
            Iniciar Sesión
        </button>

        <button routerLink="/auth/register" class="pb-3 text-gray-500 hover:text-green-500 transition">
            Registrarse
        </button>
    </div>

    <!-- Form -->
    <form [formGroup]="form" class="space-y-5" (ngSubmit)="login()">

        <div>
            <label class="block mb-1.5 text-sm font-semibold text-gray-700">
                Email
            </label>

            <input type="email" formControlName="email" placeholder="ejem. pepe@gmail.com"
                class="w-full border border-gray-300 rounded-lg px-4 py-3" />
            @if (email.touched && email.invalid) {
            <small class="text-red-500">

                @if(email.errors?.['required']){
                El correo es obligatorio
                }

                @if(email.errors?.['email']){
                Formato de correo inválido
                }

            </small>
            }
        </div>

        <div>
            <label class="block mb-1.5 text-sm font-semibold text-gray-700">
                Contraseña
            </label>

            <input type="password" formControlName="password" placeholder="Ingresa tu contraseña"
                class="w-full border border-gray-300 rounded-lg px-4 py-3" />
            @if (password.touched && password.invalid) {
            <small class="text-red-500">

                @if(password.errors?.['required']){
                La contraseña es obligatoria
                }

                @if(password.errors?.['minlength'] || password.errors?.['maxlength']){
                La contraseña debe tener entre 4 y 15 caracteres
                }

            </small>
            }
        </div>

        <button type="submit" [disabled]="loading || form.invalid"
            class="w-full bg-green-500 hover:bg-green-600 text-white py-3 rounded-lg font-semibold transition mt-2">
            {{ loading ? 'Ingresando...' : 'Iniciar Sesión' }}
        </button>
    </form>

    <!-- Footer -->
    <div class="flex flex-col sm:flex-row items-center gap-5 sm:gap-8 mt-10 text-gray-600 text-sm">
        <button class="hover:text-green-500">
            Docente
        </button>

        <button class="hover:text-green-500">
            Registro Social
        </button>
    </div>

</div>