<aside class="w-64 bg-white border-r h-screen sticky top-0 hidden lg:flex flex-col">
    <div class="p-6">
        <div class="flex items-center gap-2 mb-10">
            <span class="text-2xl font-bold text-[#3A9E5F]">EduLearn</span>
            <span class="text-[11px] px-2 py-0.5 rounded-full font-medium"
                [class]="role === 'ROLE_TEACHER'? 'bg-purple-100 text-purple-700' : 'bg-green-100 text-green-700'">
                {{ role === 'ROLE_TEACHER'? 'Docente' : 'Alumno' }}
            </span>
        </div>

        <nav class="space-y-1">

            <div *ngFor="let item of menu">

                <!-- ITEM NORMAL -->
                <a *ngIf="!item.items?.length" [routerLink]="item['route']"
                    routerLinkActive="bg-[#3A9E5F]/10 text-[#3A9E5F]"
                    class="flex items-center gap-3 px-4 py-3 rounded-xl text-gray-700 hover:bg-gray-100 transition font-medium">

                    <i [class]="item.icon"></i>
                    <span>{{ item.label }}</span>

                </a>

                <!-- ITEM CON SUBMENU -->
                <div *ngIf="item.items?.length">

                    <div class="flex items-center justify-between px-4 py-3 rounded-xl cursor-pointer hover:bg-gray-100"
                        [ngClass]="{
                    'bg-[#3A9E5F]/10 text-[#3A9E5F]': isParentActive(item)
                }" (click)="toggleSubmenu(item.label!)">

                        <div class="flex items-center gap-3">
                            <i [class]="item.icon"></i>
                            <span>{{ item.label }}</span>
                        </div>

                        <i class="pi transition-transform" [ngClass]="
                        isOpen(item.label!)
                        ? 'pi-chevron-down'
                        : 'pi-chevron-right'
                    ">
                        </i>

                    </div>

                    <div *ngIf="isOpen(item.label!) || isParentActive(item)" class="ml-6 mt-1 space-y-1">

                        <a *ngFor="let child of item.items" [routerLink]="child['route']"
                            routerLinkActive="bg-[#3A9E5F]/10 text-[#3A9E5F]"
                            class="flex items-center gap-3 px-4 py-2 rounded-lg text-sm hover:bg-gray-100 transition">

                            <i [class]="child.icon"></i>
                            <span>{{ child.label }}</span>

                        </a>

                    </div>

                </div>

            </div>

        </nav>
    </div>

    <div class="mt-auto p-6 border-t">
        <button (click)="logout()"
            class="w-full text-left text-sm text-gray-600 hover:text-red-600 bg-transparent hover:bg-red-50 hover:text-red-600 rounded-xl p-3 flex justify-between">
            Cerrar sesión
            <i class="pi pi-sign-out"></i>
        </button>
    </div>
</aside>